@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@300;400;500&display=swap');


/* ---------------------- HEADER ----------------------------*/



:global(.vtex-slider-layout-0-x-sliderTrack--carrousel-categorias-home)
:global(.vtex-slider-layout-0-x-imageElementLink):hover {border-radius: 20px;    border: 2px solid transparent; } 

:global(.vtex-slider-layout-0-x-sliderTrack--carrousel-categorias-home)
:global(.vtex-slider-layout-0-x-imageElementLink):hover {border-radius: 20px;    border: 2px solid #c4d600;}

:global(.vtex-menu-2-x-styledLinkContent.flex.justify-between.nowrap):hover{

   /* color:#C4D600!important;*/
    color:#00AEEF!important;
 
}

:global(.vtex-store-components-3-x-searchBarInnerContainer){    border-bottom: 1px solid #001A57;}

:global(.vtex-store-components-3-x-searchBarInnerContainer)
:global(.vtex-input-prefix__group) {    border: none;}

:global(.vtex-store-components-3-x-searchBarInnerContainer)
:global(.vtex-styleguide-9-x-input){background-color: transparent;}

:global(.vtex-store-components-3-x-searchBarInnerContainer)
:global(.vtex-input__suffix) {background-color: transparent;}

:global(.vtex-store-components-3-x-searchBarContainer){    min-width: 914px;}



:global(.vtex-sticky-layout-0-x-wrapper--sticky-header) {height: 78px!important;}

:global(ul.vtex-menu-2-x-menuContainer.list.flex.pl0.mv0.flex-row) {
    margin-top: -45px;
    margin-left: 15px;
}


:global(.vtex-login-2-x-accessCodeOptionBtn)
:global(.vtex-button){font-family: "Roboto Flex", sans-serif !important;
    background-color: #001A57;
    font-size: 13px;
    color: #fff;
    border-radius: 8px;

}

:global(.vtex-login-2-x-emailPasswordOptionBtn)
:global(.vtex-button){font-family: "Roboto Flex", sans-serif !important;
    background-color: #001A57;
    font-size: 13px;
    color: #fff;
    border-radius: 8px;

}

:global(.vtex-login-2-x-oauthLabel){
    font-family: "Roboto Flex", sans-serif !important;
    font-size: 13px;
    color: #000;

}

:global(.vtex-login-2-x-formTitle) {
    white-space: pre-line;
    font-family: "Roboto Flex", sans-serif !important;
    text-transform: uppercase;
    font-size: 14px;
}

:global(#proceed-to-checkout){
    background-color: #00924B;
    border-color: #00924B;

}

:global(.vtex-flex-layout-0-x-flexCol--filterCol){

    min-width: 316px!important;
}


:global(button.vtex-button.bw1.ba.fw5.v-mid.relative.pa0.lh-solid.br2.min-h-regular.t-action.bg-disabled.b--muted-5.c-on-disabled.w-100){    padding-top: 0.25em;
    padding-bottom: 0.32em;
    background-color: #000;
    width: 100%;
    color: #fff;}


:global(.vtex-search-result-3-x-buttonShowMore)
:global(.vtex-button){

    margin-top: 50px;
    background-color: #C4D600;
    border: none;
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
    font-family: 'Roboto Slab', serif;
    max-width: 250px;
}

:global(.vtex-search-result-3-x-orderByButton){

    background-color: transparent;
}

:global(.vtex-rich-text-0-x-paragraph--barra-azul-frete) {
    font-family: 'Roboto Slab',serif;
    color: #fff;
    font-size: 12px;    padding-left: 220px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--menu-link){

    height: 40px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--menu-link)
:global(ul.vtex-menu-2-x-menuContainer.list.flex.pl0.mv0.flex-row) {
    margin-top: 0px!important;
}

:global(.vtex-menu-2-x-styledLinkContent.flex.justify-between.nowrap) {
    color: #001A57;
    font-family: 'Roboto Slab',serif;
    font-size: 16px;
    font-weight:500;
}

:global(button.vtex-locale-switcher-0-x-button.link.pa0.bg-transparent.bn.flex.items-center.pointer.mr3.c-on-base) {
    display: none;
}

:global(.vtex-rich-text-0-x-wrapper--barra-azul-frete-mobile){background-color: #03044e;    width: 100%;}

:global(.vtex-rich-text-0-x-paragraph--barra-azul-frete-mobile){    font-family: 'Roboto Slab', serif;
    color: #fff;
    font-size: 10px;
    text-align: center;}


:global(.vtex-minicart-2-x-minicartIconContainer){ background-image: url(/arquivos/sacola.png);
    width: 21px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    margin-top: -15px}


    :global(.vtex-minicart-2-x-minicartContainer)
    :global(.vtex-button) {background-color:transparent!important;}

    :global(.vtex-login-2-x-container) 
    :global(.vtex-button)
        {    background-image: url(/arquivos/icone-login-io.png);
            background-size: 21px;
            background-repeat: no-repeat;
            background-position: left;
            margin-top: -15px
    }

    :global(.vtex-rich-text-0-x-paragraph--footer-email-atendimento){

        margin-bottom: 0;
    }


    :global(.vtex-login-2-x-container) 
    :global(.vtex-button):hover {background-color:transparent!important;}

:global(.vtex-minicart-2-x-cartIcon) {  display:none;}


:global(.vtex-login-2-x-label) {
    font-family: 'Roboto Slab',serif;
    color: #001A57;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}

:global(#menu-item-blog-castelo){

    background-color: #C4D600;
    display: block;
    padding: 11px;
    margin-top: -16px;
}


:global(#menu-item-falar-com-o-sac) {display: block;
    background-image: url(/arquivos/icone-fale-com-o-sac.png);
    background-position: left;
    background-repeat: no-repeat;
    /* margin: 10px; */
    background-size: 30px;
    height: 40px;
    margin-top: -15px;
    padding-left: 40px;}

:global(#menu-item-falar-com-o-sac)
:global(.vtex-menu-2-x-styledLinkContent){color:#fff!important;    padding-top: 9px;}


/* ---------------------- END HEADER ----------------------------*/

/* ---------------------------- HOME ----------------------------- */


:global(.vtex-slider-layout-0-x-sliderLayoutContainer--shelf){

    max-width: 1450px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

:global(.vtex-rich-text-0-x-container--deals .vtex-rich-text-0-x-paragraph){
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 14px;
    font-style: normal;
    line-height: 20px; /* 142.857% */
}

:global(.vtex-flex-layout-0-x-flexRow--deals .vtex-flex-layout-0-x-flexCol) {
    flex-direction: row;
    justify-content: center;
}

:global(.vtex-slider-layout-0-x-sliderLayoutContainer--carousel){

    min-height: 375px!important; 
}

:global(.vtex-flex-layout-0-x-flexRowContent--deals)
:global(.pr0.items-stretch.vtex-flex-layout-0-x-stretchChildrenWidth.flex):nth-child(1){    width: 25%!important;}

:global(.vtex-flex-layout-0-x-flexRowContent--deals)
:global(.pr0.items-stretch.vtex-flex-layout-0-x-stretchChildrenWidth.flex):nth-child(2){    width: 23%!important;}

:global(.vtex-flex-layout-0-x-flexRowContent--deals)
:global(.pr0.items-stretch.vtex-flex-layout-0-x-stretchChildrenWidth.flex):nth-child(3){    width: 21%!important;}

:global(.vtex-flex-layout-0-x-flexRowContent--deals)
:global(.pr0.items-stretch.vtex-flex-layout-0-x-stretchChildrenWidth.flex):nth-child(4){    width: 33%!important;}


:global(.vtex-flex-layout-0-x-flexRow--deals .vtex-flex-layout-0-x-flexCol img) {

    padding-right: 5px;
}

:global(.vtex-flex-layout-0-x-flexRow--deals) {
    background-color: #F6F6F6;
}
:global(.vtex-flex-layout-0-x-flexRow--banners-home-topo){
    max-width: 1340px;
    margin: auto;
}
:global(.vtex-slider-layout-0-x-sliderLayoutContainer--carrousel-categorias-home){

    max-width: 1340px;
    margin: auto;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25) inset;
    margin-top: 40px;
    margin-bottom: 40px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--deals){
    max-width: 1340px;
    padding-top: 30px;
    margin: auto;

}


:global(.vtex-rich-text-0-x-container--shelfTitle) {
    color: #727273;
    justify-content: left!important;
    text-align: left!important;
    max-width: 1340px;
    margin: auto;
}

:global(.vtex-rich-text-0-x-headingLevel2--shelfTitle) {
    font-weight: 200;
    color: #001A57;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500!important;
    line-height: normal;
    text-align: left;
    margin-top: 60px;
}

:global(.vtex-flex-layout-0-x-flexRow--banners-home-baixo){
    max-width: 1340px;
    margin: auto;

}
:global(.vtex-flex-layout-0-x-flexRow--banners-home-baixo2){
    max-width: 1340px;
    margin: auto;

}
:global(.vtex-flex-layout-0-x-flexColChild--banners-home-baixo-banner-image){    max-width: 661px;}
:global(.vtex-flex-layout-0-x-flexColChild--banners-home-baixo2-banner-image){    max-width: 661px;}



:global(.vtex-flex-layout-0-x-flexRowContent--main-header) {
    background: #F6F6F6;
}


:global(.flex.flex-grow-1.w-100.flex-column) {
    background: #F6F6F6;
    padding-bottom: 25px;
}

:global(.vtex-slider-layout-0-x-slideChildrenContainer.vtex-slider-layout-0-x-slideChildrenContainer--shelf.flex.justify-center.items-center.w-100) {
    background-color: #fff;
    border-radius: 16px;
    transition:0.2s;
    border: 2px solid #fff;
}

:global(.vtex-product-summary-2-x-brandName) {
    color: #001A57;
    font-family: 'Roboto Slab',serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500!important;
    line-height: normal;
}

:global(.vtex-product-price-1-x-sellingPriceValue--summary) {
 
    color: #001A57!important;
    font-family: 'Roboto Slab',serif;
    font-size: 28px!important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



:global(.vtex-slider-layout-0-x-slideChildrenContainer.vtex-slider-layout-0-x-slideChildrenContainer--shelf.flex.justify-center.items-center.w-100):hover {    border-radius: 16px;
    border: 2px solid #C4D600;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);}
/* ---------------------------- END HOME ----------------------------- */



/* ----------------------------FOOTER ---------------------------------*/


:global(.vtex-store-components-3-x-imageElement--bt-whatsapp-flutuante){    position: fixed;
    right: 20px;
    bottom: 40px;
    max-width: 65px;}

:global(.vtex-search-result-3-x-galleryLayoutSwitcher) {display:none;}

:global(.vtex-flex-layout-0-x-flexRow--payment-methods){    background: #001A57;
    padding-bottom: 20px;}

    :global(.vtex-flex-layout-0-x-flexRow--payment-methods)
    :global(.vtex-store-components-3-x-container){
        max-width: 1320px;
        margin: auto;

    }

    :global(.vtex-rich-text-0-x-paragraph--formas-de-pagamento-title)
   {
        color: #C4D600!important;
        font-family: 'Roboto Slab',serif!important;
        font-size: 16px!important;
        font-weight: 600;
        margin-bottom: 10px!important;


    }


    :global(.vtex-flex-layout-0-x-flexRowContent--payment-methods)
    :global(.pr0.items-stretch.vtex-flex-layout-0-x-stretchChildrenWidth.flex):nth-child(1){    width: 60%!important;}

    :global(.vtex-flex-layout-0-x-flexRowContent--payment-methods)
    :global(.pr0.items-stretch.vtex-flex-layout-0-x-stretchChildrenWidth.flex):nth-child(2){    width: 28%!important;}

    :global(.vtex-flex-layout-0-x-flexRowContent--payment-methods)
    :global(.pr0.items-stretch.vtex-flex-layout-0-x-stretchChildrenWidth.flex):nth-child(3){    width: 19%!important;}

    :global(.vtex-flex-layout-0-x-flexRowContent--payment-methods){
        border-top: 1px solid #2BACE2;
        padding-top: 15px;

    }

    :global(.vtex-flex-layout-0-x-flexRowContent--menu-row){

        padding-bottom: 20px;
    }

    :global(.vtex-flex-layout-0-x-flexRow--credits) {    max-width: 1325px;
        margin: auto;
        padding-top: 6px;}

        :global(.vtex-flex-layout-0-x-flexRow--credits)
        :global(.vtex-rich-text-0-x-paragraph--footer){
font-size:12px;
            color: #757575!important
            ;




        }

        :global(.vtex-store-components-3-x-imageElement--evision){    width: 55px;
            height: 14px;    padding-top: 3px;}


            :global(.vtex-store-components-3-x-imageElement--vtex){

                width: 51px;
                width: 60px;
            }


            :global(.vtex-rich-text-0-x-paragraph--footer-horario-de-atendimento){
                background-image: url(https://t76496.vtexassets.com/arquivos/icon-horario-footer-io.png);
                background-position: left center;
                background-repeat: no-repeat;
                padding-left: 28px!important;

            }


            
            :global(.vtex-rich-text-0-x-paragraph--footer-telefone-atendimento){
                background-image: url(https://t76496.vtexassets.com/arquivos/icon-telefone-footer-io.png);
                background-position: left center;
                background-repeat: no-repeat;
                padding-left: 28px!important;

            }


            :global(.vtex-rich-text-0-x-container--footer-email-atendimento){
                background-image: url(https://t76496.vtexassets.com/arquivos/icon-email-footer-io.png);
                background-position: left center;
                background-repeat: no-repeat;
                padding-left: 28px!important;

            }

            :global(.vtex-rich-text-0-x-paragraph--footer-email-atendimento){

                padding-top: 10px;
            }

        :global(.vtex-flex-layout-0-x-flexRowContent--credits)
        :global(.pr0.items-stretch.vtex-flex-layout-0-x-stretchChildrenWidth.flex):nth-child(1){    width: 80%!important;}

        :global(.vtex-flex-layout-0-x-flexRowContent--credits)
        :global(.pr0.items-stretch.vtex-flex-layout-0-x-stretchChildrenWidth.flex):nth-child(2){    width: 20%!important;}


        :global(.vtex-flex-layout-0-x-flexRowContent--credits)
        :global(.pr0.items-stretch.vtex-flex-layout-0-x-stretchChildrenWidth.flex):nth-child(2)
        :global(.vtex-flex-layout-0-x-flexRowContent)
        :global(.pr0.items-stretch.vtex-flex-layout-0-x-stretchChildrenWidth.flex){ width: 100%!important;}

    :global(.vtex-rich-text-0-x-container--footer-txt)
    :global(.vtex-rich-text-0-x-paragraph--footer-txt){    color: #757575!important;    font-size: 12px!important;}


    :global(.vtex-flex-layout-0-x-flexCol--redes-sociais-footer){

        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        margin-top: 11px;
    }


    :global(.vtex-flex-layout-0-x-flexColChild.vtex-flex-layout-0-x-flexColChild--redes-sociais-footer.pb0){    margin: auto;}
   

:global(.vtex-store-footer-2-x-footerLayout)
:global(.vtex-flex-layout-0-x-flexRowContent--menu-row)
:global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(1){    width: 18%!important;}
:global(.vtex-store-footer-2-x-footerLayout)
:global(.vtex-flex-layout-0-x-flexRowContent--menu-row)
:global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(2){    width: 26%!important;}
:global(.vtex-store-footer-2-x-footerLayout)
:global(.vtex-flex-layout-0-x-flexRowContent--menu-row)
:global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(3){    width: 20%!important;}
:global(.vtex-store-footer-2-x-footerLayout)
:global(.vtex-flex-layout-0-x-flexRowContent--menu-row)
:global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(4){    width: 16%!important;}


:global(.vtex-store-footer-2-x-socialNetworksContainer){
    flex-direction: row;
    justify-content: center;
    padding-top: 12px;
    margin-right: 17px;
    padding-bottom: 15px;

}




:global(.vtex-store-components-3-x-newsletter)
:global(.vtex-input-prefix__group){
    border: none;
    border-bottom: 2px solid #001A57;
    border-radius: 0;

}

:global(.vtex-store-components-3-x-newsletter)
:global(.vtex-styleguide-9-x-input){
    border: none;
    background-image: url(/arquivos/icon-newsletter-io.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 35px;
    padding-left: 50px;

}

:global(.vtex-store-footer-2-x-footerLayout)
:global(.vtex-flex-layout-0-x-flexRowContent--menu-row) {
    max-width: 1340px;
    margin: auto;

}
:global(.vtex-store-footer-2-x-footerLayout)
:global(.vtex-menu-2-x-styledLinkContainer){    margin: 0px!important;}


:global(.vtex-rich-text-0-x-paragraph--footer-fale-conosco),
:global(.vtex-rich-text-0-x-paragraph--footer-area-do-cliente-title),
:global(.vtex-rich-text-0-x-paragraph--funcionamento-loja-de-fabrica){

    color: #C4D600!important;
    font-family: 'Roboto Slab',serif!important;

    font-size: 16px!important;
    font-weight: 600;

    margin-bottom: 10px!important;
}

:global(.vtex-store-footer-2-x-footerLayout)
:global(.vtex-menu-2-x-styledLinkContent.flex.justify-between.nowrap){    color: #fff}

:global(.vtex-flex-layout-0-x-flexRow--menu-row){
    background: #001A57;
}

:global(.vtex-store-components-3-x-newsletter){

    background-color: #fff!important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25) inset;
}

:global(.vtex-store-components-3-x-newsletter)  
:global(.vtex-store-components-3-x-label) {color: #001A57;    font-family: 'Roboto Slab',serif;
    font-size: 20px;
    font-weight: normal;    margin-bottom: 25px;
    display: block;
    font-weight: 600;
}

:global(.vtex-store-components-3-x-newsletter)
:global(.vtex-store-components-3-x-form){    max-width: 730px;}

:global(.vtex-store-components-3-x-newsletter) 
:global(.vtex-store-components-3-x-container) {
    padding: 60px!important;
}


:global(.vtex-store-components-3-x-newsletter)  
:global(.vtex-button__label) {    color: #00924B;
    font-family: 'Roboto Slab',serif;
    border: 2px solid #00924B;
    padding: 27px;
    height: 41px;
    border-radius: 8px;
    font-size: 15px;
    width: 168px;
    height: 46px;}


:global(.vtex-store-components-3-x-inputGroup) 
:global(.vtex-styleguide-9-x-hideDecorators::placeholder) {
    color: #757575 !important;
    font-size: 13px!important;
    font-family: "Roboto Flex", sans-serif !important;
}

:global(.vtex-store-components-3-x-inputGroup)
:global(.vtex-styleguide-9-x-hideDecorators) {  color: #000!important;}

:global(.vtex-store-footer-2-x-footerLayout)
:global(.vtex-menu-2-x-styledLinkContent){    color: #fff;}


:global(.vtex-store-footer-2-x-footerLayout)
:global(.vtex-rich-text-0-x-paragraph) {color:#fff;color: rgb(255, 255, 255);
    font-family: "Roboto Flex",sans-serif;
    padding: 0px;font-size:14px;  
    margin: 0px;  margin-bottom: 10px;}



    :global(.vtex-store-footer-2-x-footerLayout)
    :global(.vtex-menu-2-x-styledLinkContent){color:#fff;color: rgb(255, 255, 255);
        font-family: "Roboto Flex", sans-serif!important;
        padding: 0px;
        font-size: 14px!important;
        font-weight: 400;   
        margin: 0px;  margin-bottom: 3px;}


        :global(.vtex-rich-text-0-x-link--footer-email-atendimento){
            color:#fff;color: rgb(255, 255, 255);
            font-family: Roboto, sans-serif!important;
            padding: 0px;
            font-size: 14px!important;
            font-weight: 400;
            margin: 0px;

        }


/* --------------------- VITRINE ----------------------------------*/

:global(.vtex-flex-layout-0-x-flexRowContent--bloco-bt-comprar-quantidade-vitrine)
:global(.vtex-button){border-radius: 8px;
    background: #00924B;    border-color: transparent;    height: 10px;    margin-top: -5px;
   }

    :global(.vtex-product-quantity-1-x-quantitySelectorTitle){display:none;}


:global(.vtex-numeric-stepper__minus-button){  background: #C5C5C5;
    width: 35px!important;
    border: none;
    color: #000;
    border-top-right-radius: 8px!important;
    border-bottom-right-radius: 8px!important;
    border-top-left-radius: 8px!important;
    border-bottom-left-radius: 8px!important;
}

:global(.vtex-numeric-stepper__plus-button){  background: #757575;
    width: 35px!important;
    border: none;
    color: #fff;

    color: #fff;
    border-top-left-radius: 8px!important;
    border-bottom-left-radius: 8px!important;
    border-top-right-radius: 8px!important;
    border-bottom-right-radius: 8px!important;
}


:global(.vtex-numeric-stepper__input) {
    appearance: none;
    border: none;
    font-family: 'Roboto Slab',serif;
    width: 40px;

}

:global(.vtex-add-to-cart-button-0-x-buttonText){

    font-family: 'Roboto',sans-serif;
    font-size: 16px;
}


:global(.vtex-flex-layout-0-x-flexCol--bloco-bt-comprar-quantidade-vitrine){opacity: 0;transition:0.2s;    }

:global(.vtex-slider-layout-0-x-slideChildrenContainer.vtex-slider-layout-0-x-slideChildrenContainer--shelf.flex.justify-center.items-center.w-100):hover
:global(.vtex-flex-layout-0-x-flexCol--bloco-bt-comprar-quantidade-vitrine){opacity: 1;    }

/* --------------------- END - VITRINE ----------------------------------*/


/* ---------------- PÁGINA DE PRODUTO ---------------------------------*/

:global(.render-route-store-product)
:global(.vtex-store-components-3-x-productBrand){color: #001A57;font-family: 'Roboto Slab',serif;font-size: 32px;font-weight: 500;}
:global(.render-route-store-product)
:global(.vtex-product-price-1-x-sellingPriceValue){font-weight: 700;color: #000;font-family: 'Roboto Slab',serif;font-size: 32px;}
:global(.render-route-store-product)
:global(.vtex-product-price-1-x-installments){font-weight: 700;color: #000;font-family: 'Roboto Slab',serif;font-size: 14px;}
:global(.render-route-store-product)
:global(.vtex-flex-layout-0-x-flexRowContent--pagina-de-produto-conteudo-geral){max-width: 1340px;margin: auto;}

:global(.render-route-store-product)
:global(.vtex-flex-layout-0-x-flexRowContent--pagina-de-produto-conteudo-geral-especificacao-titulo){max-width: 1340px;margin: auto;}

:global(.render-route-store-product)
:global(.vtex-flex-layout-0-x-flexRow--productSpecificationGroup){max-width: 1340px;margin: auto;    padding-bottom: 20px;}

:global(.vtex-tab-layout-0-x-container--product)
:global(.hover-b--action-primary){background-color: #C4D600!important;     border: none;}

:global(.render-route-store-product)
:global(.vtex-tab-layout-0-x-contentContainer) {
    border: 1px solid #C4D600;
    background-color: #fff;
    border-radius: 16px;
    max-width: 1340px;
    margin: auto;
    margin-bottom: 50px;
   


}

:global(.vtex-store-components-3-x-shippingContainer) {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px 0px;
}

:global(.vtex-store-components-3-x-shippingContainer) 
:global(.vtex-button__label) {
    font-size: 0;
}


:global(.vtex-store-components-3-x-shippingContainer)
:global(.vtex-button__label):after {
    content: "OK";
    color: #000;
    font-size: 16px;
    font-style: normal;
    /* font-weight: 700; */
    line-height: normal;
    font-family: 'Roboto Slab', serif;
}


:global(.vtex-store-components-3-x-shippingContainer)
:global(.vtex-input-prefix__group) {
    width: 312px;
    height: 37px;
    margin-right: 15px;
}


:global(.vtex-store-components-3-x-shippingContainer)
:global(.vtex-button) {
    width: 70px;
    height: 37px;
    border: none;
    margin-top: -37px;
    background-color: #C2C2C2;
    color: #000;
}


:global(.vtex-address-form__postalCode-forgottenURL) a {
    color: #000;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;

}

:global(.vtex-store-components-3-x-shippingTableRow)
:global(.vtex-store-components-3-x-shippingTableLabel),
:global(.vtex-store-components-3-x-shippingTableRow)
:global(.vtex-store-components-3-x-shippingTableCellDeliveryEstimate),
:global(.vtex-store-components-3-x-shippingTableRow)
v:global(.tex-store-components-3-x-currencyContainer)
{
    font-family: 'Roboto Slab', serif;
    color:#727273;
    font-size:14px;
}



:global(.vtex-tab-layout-0-x-listItem--botao-descricao-pdp)
:global(.vtex-button){    background-image: url(/arquivos/icon-descricao-pdp-io.png);
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 24px;
    padding-left: 20px;
    margin-left: 16px;    background-color: #fff;
    font-family: 'Roboto Slab', serif;
    color: #000;
    padding-right: 30px;
    height:50px;
    border-radius: 15px;
}



:global(.vtex-search-result-3-x-filterTemplateOverflow::-webkit-scrollbar) {
    width: 5px; /* largura do scrollbar */
  }
  
  :global(.vtex-search-result-3-x-filterTemplateOverflow::-webkit-scrollbar-thumb) {
    background-color: #C4D600; /* cor da thumb (barra) */
  }
  
  :global(.vtex-search-result-3-x-filterTemplateOverflow::-webkit-scrollbar-track) {
    background: transparent; /* cor do track (trilha) */
  }

:global(.vtex-search-result-3-x-filterIcon){
    color: #C4D600;
    padding-right: 0;
    margin-right: -5px;

}

:global(svg.vtex__icon-check) {
    background-color: #C4D600;
    padding: 2px;
    border-radius: 5px;
}




:global(.vtex-checkbox__box-wrapper.absolute.w1.h1.flex.o-100) {
    /* background-color: #fff; */
    border: 1px solid #000;
    border-radius: 5px;
}


:global(.vtex-checkbox__inner-container.h1.w1.absolute.ba.bw1.br1.b--action-primary.bg-action-primary.mr3){
    border-radius: 5px;


}
    
    :global(.vtex-tab-layout-0-x-listItem--botao-espeficicacao-pdp)
:global(.vtex-button){    background-image: url(/arquivos/icon-especificacao-pdp-io.png);
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 24px;
    padding-left: 20px;
    margin-left: 16px;    background-color: #fff;
    font-family: 'Roboto Slab', serif;
    color: #000;
    padding-right: 30px;
    height:50px;
    border-radius: 15px;
}


    :global(.vtex-tab-layout-0-x-listItem--botao-info-adicionais-pdp)
    :global(.vtex-button){    background-image: url(/arquivos/icon-infos-add-pdp-io.png);
        background-repeat: no-repeat;
        background-position: 12px center;
        background-size: 24px;
        padding-left: 20px;
        margin-left: 16px;    background-color: #fff;
        font-family: 'Roboto Slab', serif;
    color: #000;
    padding-right: 30px;
    height:50px;
    border-radius: 15px;
    }



    :global(.vtex-tab-layout-0-x-listItem--botao-descricao-pdp)
    :global(.vtex-button)
    :global(.vtex-button__label)::after,
    :global(.vtex-tab-layout-0-x-listItem--botao-espeficicacao-pdp)
    :global(.vtex-button)
    :global(.vtex-button__label)::after,
    :global(.vtex-tab-layout-0-x-listItem--botao-info-adicionais-pdp)
    :global(.vtex-button)
    :global(.vtex-button__label)::after
    
    {

        content: "";
        background-image: url(/arquivos/Arrow-point-to-right.png);
        width: 25px;
        height: 21px;
        background-size: 22px;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        padding-right: 20px;

    }
                       
    




    :global(.vtex-tab-layout-0-x-listItemActive.vtex-tab-layout-0-x-listItem--botao-descricao-pdp)
    :global(.vtex-button)
    :global(.vtex-button__label)::after,
    :global(.vtex-tab-layout-0-x-listItemActive.vtex-tab-layout-0-x-listItem--botao-espeficicacao-pdp)
    :global(.vtex-button)
    :global(.vtex-button__label)::after,
    :global(.vtex-tab-layout-0-x-listItemActive.vtex-tab-layout-0-x-listItem--botao-info-adicionais-pdp)
    :global(.vtex-button)
    :global(.vtex-button__label)::after {

        content: "";
        background-image: url(/arquivos/Arrow-point-to-right-hover.png);
        width: 25px;
        height: 21px;
        background-size: 22px;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        padding-right: 20px;
    }


:global(.vtex-store-components-3-x-productDescriptionText) {

    font-family: 'Roboto Slab',serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    padding: 20px;
}

:global(.vtex-store-components-3-x-productDescriptionTitle){display:none;}

:global(.vtex-flex-layout-0-x-flexRow--productSpecificationGroup){
    padding: 20px 25px 0px 25px;
}


:global(span.vtex-product-specifications-1-x-specificationValue.vtex-product-specifications-1-x-specificationValue--first.vtex-product-specifications-1-x-specificationValue--last){

    font-family: 'Roboto Slab',serif;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 24px; */
    color: #000;
}

:global(.vtex-product-specifications-1-x-specificationName){font-family: 'Roboto Slab',serif;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 24px; */
    color: #000;}

    :global(.vtex-flex-layout-0-x-flexRow--botao-comprar-pdp)
    :global(.vtex-button){background-color:#00924B;    min-width: 265px;border:none;    height: 40px;}

    :global(.vtex-flex-layout-0-x-flexRow--botao-comprar-pdp){
        margin-top: 50px;
       
        max-width: 360px;

    }

:global(.vtex-flex-layout-0-x-flexRow--productSpecificationGroupName){display:none;}

:global(.render-route-store-product)
:global(.vtex-product-quantity-1-x-quantitySelectorStepper){    margin-top: 3px;}

:global(.vtex-numeric-stepper__input){    background-color: transparent;}



:global(.vtex-store-components-3-x-fadeBottom) {
    background-image: none!important;
}

:global(.vtex-store-components-3-x-productDescriptionText)
:global(.vtex-store-components-3-x-container){    height: auto!important;}


:global(.vtex-store-components-3-x-showMoreButton) {display:none;}

/* ---------------- END PÁGINA DE PRODUTO ---------------------------------*/



/* ---------------- PÁGINA DE DEPARTAMENTO ---------------------*/

:global(.vtex-search-result-3-x-container--layout){

    max-width: 1340px;
    margin: auto;
}

:global(.vtex-flex-layout-0-x-flexColChild--filterCol){

    background-color:#fff;
    padding: 15px;
}

:global(.vtex-product-summary-2-x-container) {

    background-color: #fff;
    padding: 20px;
    border: 2px solid #fff;
}

:global(.render-route-store-search-department)
:global(.vtex-product-summary-2-x-container):hover {
    border: 2px solid #C4D600;
}
:global(.render-route-store-search-department)
:global(.vtex-product-summary-2-x-container):hover
:global(.vtex-flex-layout-0-x-flexCol--bloco-bt-comprar-quantidade-vitrine){
    opacity: 1;

}


:global(.render-route-store-search)
:global(.vtex-product-summary-2-x-container):hover {
    border: 2px solid #C4D600;
}
:global(.render-route-store-search)
:global(.vtex-product-summary-2-x-container):hover
:global(.vtex-flex-layout-0-x-flexCol--bloco-bt-comprar-quantidade-vitrine){
    opacity: 1;

}

:global(.render-route-store-search-category)
:global(.vtex-product-summary-2-x-container):hover {
    border: 2px solid #C4D600;
}
:global(.render-route-store-search-category)
:global(.vtex-product-summary-2-x-container):hover
:global(.vtex-flex-layout-0-x-flexCol--bloco-bt-comprar-quantidade-vitrine){
    opacity: 1;

}
:global(.vtex-slider__base-internal),
:global(.vtex-slider__selector){

    background-color: #C4D600;
}

:global(.vtex-flex-layout-0-x-flexColChild--filterCol)
:global(.vtex-checkbox__label){    font-family: 'Roboto Slab',serif;
    font-size: 14px;
    font-weight: 300;
    color: #000;    text-transform: lowercase;
    margin-top: -2px;}


    :global(.vtex-search-result-3-x-filterTitleSpan) {
        overflow: hidden;
        font-family: 'Roboto Slab',serif;
        font-size: 16px;
        font-weight: 400;
        color: #000;
    }


    :global(.bg-emphasis) {
        background-color: #C4D600;
    }

/* ---------------- END PÁGINA DE DEPARTAMENTO ---------------------*/


@media (min-width: 780px) {

    :global(.vtex-store-components-3-x-carouselGaleryThumbs) 
    :global(.swiper-slide) {
      
        border: 1px solid #C2C2C2;
        border-radius: 10px;
        padding: 10px;
    }


    :global(.swiper-container.swiper-container-initialized.swiper-container-vertical.h-100.undefined.swiper-container-thumbs) {
        padding-left: 10px;
        padding-top: 10px;
    }

    :global(.vtex-stack-layout-0-x-stackContainer.vtex-stack-layout-0-x-stackContainer--product.relative) {
        background-color: #fff;
        border-radius: 10px;
    }

    :global(.vtex-stack-layout-0-x-stackItem--product){
        min-height: inherit!important;

    }

    :global(.vtex-tab-layout-0-x-container--product)
    :global(.vtex-tab-layout-0-x-listContainer){

        justify-content: left;
        max-width: 1387px;
        margin: auto;
        padding-bottom: 15px;
    }


    :global(.vtex-store-components-3-x-newsletter) {
  
        max-width: 100%!important;
    
    }

    :global(.vtex-slider-layout-0-x-sliderTrack--dealsmobile){display:none;}
    :global(.vtex-store-components-3-x-imageElement--bt-whatsapp-flutuante){    position: fixed;
        right: 20px;
        bottom: 40px;
        max-width: 65px;}
}
/* -----------------------MOBILE------------------------------*/
@media (max-width: 780px) {

/*----------------------- HEADER---------------------------------*/

:global(.vtex-menu-2-x-styledLinkContent.flex.justify-between.nowrap){
    color: #001A57;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    z-index: 999;
    position: relative;

}

:global(.vtex-login-2-x-container) {margin-right: -30px;}
:global(.vtex-rich-text-0-x-container--shelfTitle) {justify-content: center !important;text-align: center !important;}
:global(.vtex-rich-text-0-x-headingLevel2--shelfTitle){font-size: 30px;}
:global(.vtex-flex-layout-0-x-flexCol--bloco-bt-comprar-quantidade-vitrine) {opacity: 1!important;}
:global(.vtex-flex-layout-0-x-flexCol--productRating) {margin-bottom: 0!important;}
:global(.vtex-slider-layout-0-x-slide--shelf) {padding-left: 0px;padding-right: 0px;}
:global(.vtex-menu-2-x-menuContainerNav){    width: 100%;}

:global(.vtex-menu-2-x-submenuAccordion)
:global(.vtex-menu-2-x-menuContainer)
:global(.vtex-menu-2-x-menuItem)
:global(.vtex-menu-2-x-styledLinkContent){font-size: 14px;}

:global(.vtex-store-components-3-x-searchBarContainer) {
    min-width: inherit!important;
    padding: 0px 10px 8px 10px!important;
}
:global(.vtex-store-drawer-0-x-menuIcon){    color: #001A57;}

:global(.vtex-search-result-3-x-buttonShowMore)
:global(.vtex-button){

    background-color: #C4D600;
    border: none;
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
    font-family: 'Roboto Slab', serif;
    max-width: 250px;
}

:global(.vtex-search-result-3-x-filterPopupTitle) {
    font-size: 12px;
}
:global(.vtex-search-result-3-x-orderByButton){
    background-color: transparent;

}

:global(.vtex-tab-layout-0-x-container--product)
:global(.vtex-tab-layout-0-x-listContainer){    flex-direction: column;}

:global(.vtex-tab-layout-0-x-listItem--botao-descricao-pdp)
:global(.vtex-button),
:global(.vtex-tab-layout-0-x-listItem--botao-espeficicacao-pdp)
:global(.vtex-button),
:global(.vtex-tab-layout-0-x-listItem--botao-info-adicionais-pdp) 
:global(.vtex-button) {width: 90%;}




:global(.vtex-tab-layout-0-x-listItem--botao-descricao-pdp)
:global(.vtex-button__label),
:global(.vtex-tab-layout-0-x-listItem--botao-espeficicacao-pdp)
:global(.vtex-button__label),
:global(.vtex-tab-layout-0-x-listItem--botao-info-adicionais-pdp) 
:global(.vtex-button__label) {justify-content: left;}



:global(.vtex-store-components-3-x-shippingContainer) 
:global(.vtex-input-prefix__group) {
    width: 95%;
    border: 1px solid #000;
}


:global(.render-route-store-product)
:global(.vtex-tab-layout-0-x-contentContainer){
    margin-left: 10px;
    margin-right: 10px;
    max-width: 95%;

}


/*----------------------- END - HEADER---------------------------------*/

/*------------------ INSTITUCIONAIS -------------------*/



:global(.vtex-flex-layout-0-x-flexCol--intitucionalLinks-container){

    margin-right: 0px!important;
    margin-bottom: 25px!important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--InstitucionalContent) {
    margin-top: 20px!important;
}

/*------------------ END INSTITUCIONAIS -------------------*/

/* ------------------ HOME ------------------------- */

:global(.vtex-slider-layout-0-x-sliderLayoutContainer--shelf) {padding-left: 25px!important;padding-right: 25px!important;}
:global(.vtex-flex-layout-0-x-flexRowContent--bloco-bt-comprar-quantidade-vitrine){display: flex;flex-direction: row;}
:global(.vtex-flex-layout-0-x-flexCol--banners-home-baixo-banner-image),
:global(.vtex-flex-layout-0-x-flexCol--banners-home-baixo2-banner-image){padding-bottom: 10px;}
:global(.vtex-flex-layout-0-x-flexRowContent--deals){display:none;}
:global(.vtex-rich-text-0-x-strong--deals) {display: block!important;}
:global(.vtex-slider-layout-0-x-sliderLayoutContainer){    padding-bottom: 30px}

/* ------------------ END HOME ------------------------- */

/* ------------------ FOOTER ------------------------- */
:global(.vtex-store-components-3-x-newsletter)
:global(.vtex-store-components-3-x-container){
    padding: 0px !important;

}


:global(.vtex-store-components-3-x-newsletter)
:global(.vtex-store-components-3-x-label){
    padding-top: 30px;
    font-size: 16px;
    max-width: 90%;
    margin: auto;

}

:global(.vtex-store-components-3-x-newsletter)
:global(.vtex-store-components-3-x-inputGroup){    flex-direction: column;    max-width: 90%;
    margin: auto;}

    :global(.vtex-store-components-3-x-newsletter)
    :global(.vtex-store-components-3-x-inputGroup)
    :global(.vtex-button){    width: 100%;}



    :global(.vtex-store-components-3-x-newsletter) 
    :global(.vtex-button__label) {
   
        width: 80%;
        margin: auto;
        margin-top: 16px;
        margin-bottom: 20px;
    }

    :global(.vtex-flex-layout-0-x-flexRow--logo-mobile-footer){

        background: #001A57;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    :global(.vtex-flex-layout-0-x-flexRowContent--logo-mobile-footer)
    :global(.vtex-store-components-3-x-logoImage){

        margin: auto;
        display: block;
    }


    :global(.vtex-flex-layout-0-x-flexRow--footer-fale-conosco-mobile){
        background: #001A57;
        margin-top: -1px;

    }

    :global(.vtex-flex-layout-0-x-flexRow--footer-institucional-area){
        background: #001A57;
        margin-top: -6px;

    }


    :global(.vtex-flex-layout-0-x-flexRowContent--parceiroseguranca-footer-mobile){
        display: flex;

    }

    :global(.vtex-flex-layout-0-x-flexRow--formas-de-pagamento-mobila){

        background: #001A57;
        margin-top: -12px;
    }

    :global(.vtex-flex-layout-0-x-flexRow--parceiroseguranca-footer-mobile){

        background: #001A57;    margin-top: -10px;
    }

    :global(.vtex-menu-2-x-menuContainerNav)
    :global(.vtex-menu-2-x-styledLinkContent--menu-titulo-mobile-item-footer){

        color: #C4D600 !important;
    font-family: 'Roboto Slab', serif !important;
    font-size: 16px !important;
    font-weight: 600;
    margin-bottom: 10px !important;
    }
:global(.vtex-menu-2-x-accordionIcon.vtex-menu-2-x-accordionIcon--menu-titulo-mobile-item-footer.vtex-menu-2-x-accordionIcon--isOpen.vtex-menu-2-x-accordionIcon--menu-titulo-mobile-item-footer--isOpen.ml3.c-muted-2),
    :global(.vtex-menu-2-x-accordionIcon.vtex-menu-2-x-accordionIcon--menu-titulo-mobile-item-footer.vtex-menu-2-x-accordionIcon--isClosed.vtex-menu-2-x-accordionIcon--menu-titulo-mobile-item-footer--isClosed.ml3.c-muted-2) {
        color: #C4D600 !important;
    }

    :global(.vtex-flex-layout-0-x-flexRowContent--devs-mobile){

        display: flex;
    }

/* ------------------ END - FOOTER ------------------------- */


}





/* ----------------------- END - MOBILE------------------------------*/


/* ---------------------------- INSTITUCIONAIS -----------------------*/



:global(.vtex-flex-layout-0-x-flexRow--InstitucionalContent)
:global(.vtex-store-components-3-x-container){ max-width: 1340px; margin: auto;}

:global(.vtex-flex-layout-0-x-flexCol--intitucionalLinks-container){    min-width: 250px;
    background-color: #fff;
    padding: 0px 20px;
    border-radius:10px;
    margin-right: 28px;     padding-top: 40px; }

    :global(.vtex-flex-layout-0-x-flexRowContent--InstitucionalContent){

        margin-top: 95px;
    }

    :global(.vtex-rich-text-0-x-wrapper--InstitucionalContentText){    background-color: #fff;
        padding: 0px 30px;
        border-radius: 10px;}

        :global(.vtex-rich-text-0-x-link--InstitucionalLink){

            color: #757575;
            font-family: Roboto, sans-serif !important;
            text-decoration: none;
            font-size: 14px;
        }

        :global(.vtex-rich-text-0-x-paragraph--InstitucionalLink){
            color: #000;
            font-family: 'Roboto Slab', serif;
            font-size: 16px;
            text-decoration:none;
            line-height: 0;
            padding: 0;
            text-decoration: none;
        }

        :global(.vtex-rich-text-0-x-paragraph--InstitucionalTituloLink){
            color: #001A57;
            font-family: 'Roboto Slab', serif;
            font-size: 15px;
            font-style: normal;
            font-weight: 500 !important;
            line-height: normal;
            text-align: left;
            /* margin-top: 60px; */
            /* border-top: 1px solid #ccc; */
            width: 100%;
            display: block;
            text-transform: uppercase;
            margin: 10px 0px;

        }


        :global(.vtex-rich-text-0-x-paragraph--InstitucionalContentText){
            color: #757575;
            font-family: Roboto, sans-serif !important;
            text-decoration: none;
            font-size: 16px;

        }

        :global(.vtex-rich-text-0-x-container--InstitucionalTituloLink){
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            margin-top: 10px;
            margin-bottom: 10px;

        }

        :global(.vtex-rich-text-0-x-headingLevel1--InstitucionalContentText){
            color: #001A57;
            font-family: 'Roboto Slab', serif;
            font-size: 36px;
            margin-top: 42px;
            text-transform: uppercase;


        }


        :global(.vtex-rich-text-0-x-headingLevel2--InstitucionalContentText) {
            color: #001A57;
            font-family: 'Roboto Slab', serif;
            font-size: 18px;
            margin-top: 42px;
        }

        :global(.vtex-rich-text-0-x-listItem--InstitucionalContentText){

            color: #757575;
            font-family: Roboto, sans-serif !important;
            text-decoration: none;
            font-size: 16px;
        }

/* ---------------------------- END-  INSTITUCIONAIS -----------------------*/
