@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');


/* ---------------------- HEADER ----------------------------*/
:global(.vtex-store-components-3-x-searchBarInnerContainer){    border-bottom: 1px solid #001A57;}

:global(.vtex-store-components-3-x-searchBarInnerContainer)
:global(.vtex-input-prefix__group) {    border: none;}

:global(.vtex-store-components-3-x-searchBarInnerContainer)
:global(.vtex-styleguide-9-x-input){background-color: transparent;}

:global(.vtex-store-components-3-x-searchBarInnerContainer)
:global(.vtex-input__suffix) {background-color: transparent;}

:global(.vtex-store-components-3-x-searchBarContainer){    min-width: 914px;}



:global(.vtex-sticky-layout-0-x-wrapper--sticky-header) {height: 78px!important;}

:global(ul.vtex-menu-2-x-menuContainer.list.flex.pl0.mv0.flex-row) {
    margin-top: -45px;
    margin-left: 15px;
}

:global(.vtex-rich-text-0-x-paragraph--barra-azul-frete) {
    font-family: 'Roboto Slab',serif;
    color: #fff;
    font-size: 12px;    padding-left: 220px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--menu-link){

    height: 40px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--menu-link)
:global(ul.vtex-menu-2-x-menuContainer.list.flex.pl0.mv0.flex-row) {
    margin-top: 0px!important;
}

:global(.vtex-menu-2-x-styledLinkContent.flex.justify-between.nowrap) {
    color: #001A57;
    font-family: 'Roboto Slab',serif;
    font-size: 16px;
}

:global(button.vtex-locale-switcher-0-x-button.link.pa0.bg-transparent.bn.flex.items-center.pointer.mr3.c-on-base) {
    display: none;
}

:global(.vtex-minicart-2-x-minicartIconContainer){ background-image: url(/arquivos/sacola.png);
    width: 21px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    margin-top: -15px}


    :global(.vtex-minicart-2-x-minicartContainer)
    :global(.vtex-button) {background-color:transparent!important;}

    :global(.vtex-login-2-x-container) 
    :global(.vtex-button)
        {    background-image: url(/arquivos/icone-login-io.png);
            background-size: 21px;
            background-repeat: no-repeat;
            background-position: left;
            margin-top: -15px
    }


    :global(.vtex-login-2-x-container) 
    :global(.vtex-button):hover {background-color:transparent!important;}

:global(.vtex-minicart-2-x-cartIcon) {  display:none;}


:global(.vtex-login-2-x-label) {
    font-family: 'Roboto Slab',serif;
    color: #001A57;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}

:global(#menu-item-blog-castelo){

    background-color: #C4D600;
    display: block;
    padding: 11px;
    margin-top: -16px;
}


:global(#menu-item-falar-com-o-sac) {display: block;
    background-image: url(/arquivos/icone-fale-com-o-sac.png);
    background-position: left;
    background-repeat: no-repeat;
    /* margin: 10px; */
    background-size: 30px;
    height: 40px;
    margin-top: -15px;
    padding-left: 40px;}

:global(#menu-item-falar-com-o-sac)
:global(.vtex-menu-2-x-styledLinkContent){color:#fff!important;    padding-top: 9px;}


/* ---------------------- END HEADER ----------------------------*/

/* ---------------------------- HOME ----------------------------- */


:global(.vtex-slider-layout-0-x-sliderLayoutContainer--shelf){

    max-width: 1450px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

:global(.vtex-rich-text-0-x-container--deals .vtex-rich-text-0-x-paragraph){
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 14px;
    font-style: normal;
    line-height: 20px; /* 142.857% */
}

:global(.vtex-flex-layout-0-x-flexRow--deals .vtex-flex-layout-0-x-flexCol) {
    flex-direction: row;
    justify-content: center;
}

:global(.vtex-slider-layout-0-x-sliderLayoutContainer--carousel){

    min-height: 375px!important; 
}

:global(.vtex-flex-layout-0-x-flexRowContent--deals)
:global(.pr0.items-stretch.vtex-flex-layout-0-x-stretchChildrenWidth.flex):nth-child(1){    width: 25%!important;}

:global(.vtex-flex-layout-0-x-flexRowContent--deals)
:global(.pr0.items-stretch.vtex-flex-layout-0-x-stretchChildrenWidth.flex):nth-child(2){    width: 23%!important;}

:global(.vtex-flex-layout-0-x-flexRowContent--deals)
:global(.pr0.items-stretch.vtex-flex-layout-0-x-stretchChildrenWidth.flex):nth-child(3){    width: 21%!important;}

:global(.vtex-flex-layout-0-x-flexRowContent--deals)
:global(.pr0.items-stretch.vtex-flex-layout-0-x-stretchChildrenWidth.flex):nth-child(4){    width: 33%!important;}


:global(.vtex-flex-layout-0-x-flexRow--deals .vtex-flex-layout-0-x-flexCol img) {

    padding-right: 5px;
}

:global(.vtex-flex-layout-0-x-flexRow--deals) {
    background-color: #F6F6F6;
}
:global(.vtex-flex-layout-0-x-flexRow--banners-home-topo){
    max-width: 1340px;
    margin: auto;
}
:global(.vtex-slider-layout-0-x-sliderLayoutContainer--carrousel-categorias-home){

    max-width: 1340px;
    margin: auto;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25) inset;
    margin-top: 40px;
    margin-bottom: 40px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--deals){
    max-width: 1340px;
    padding-top: 30px;
    margin: auto;

}


:global(.vtex-rich-text-0-x-container--shelfTitle) {
    color: #727273;
    justify-content: left!important;
    text-align: left!important;
    max-width: 1340px;
    margin: auto;
}

:global(.vtex-rich-text-0-x-headingLevel2--shelfTitle) {
    font-weight: 200;
    color: #001A57;
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 500!important;
    line-height: normal;
    text-align: left;
    margin-top: 60px;
}

:global(.vtex-flex-layout-0-x-flexRow--banners-home-baixo){
    max-width: 1340px;
    margin: auto;

}
:global(.vtex-flex-layout-0-x-flexRow--banners-home-baixo2){
    max-width: 1340px;
    margin: auto;

}
:global(.vtex-flex-layout-0-x-flexColChild--banners-home-baixo-banner-image){    max-width: 661px;}
:global(.vtex-flex-layout-0-x-flexColChild--banners-home-baixo2-banner-image){    max-width: 661px;}



:global(.vtex-flex-layout-0-x-flexRowContent--main-header) {
    background: #F6F6F6;
}


:global(.flex.flex-grow-1.w-100.flex-column) {
    background: #F6F6F6;
    padding-bottom: 25px;
}

:global(.vtex-slider-layout-0-x-slideChildrenContainer.vtex-slider-layout-0-x-slideChildrenContainer--shelf.flex.justify-center.items-center.w-100) {
    background-color: #fff;
    border-radius: 16px;
    transition:0.2s;
    border: 2px solid #fff;
}

:global(.vtex-product-summary-2-x-brandName) {
    color: #001A57;
    font-family: 'Roboto Slab',serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500!important;
    line-height: normal;
}

:global(.vtex-product-price-1-x-sellingPriceValue--summary) {
 
    color: #001A57!important;
    font-family: 'Roboto Slab',serif;
    font-size: 28px!important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



:global(.vtex-slider-layout-0-x-slideChildrenContainer.vtex-slider-layout-0-x-slideChildrenContainer--shelf.flex.justify-center.items-center.w-100):hover {    border-radius: 16px;
    border: 2px solid #C4D600;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);}
/* ---------------------------- END HOME ----------------------------- */



/* ----------------------------FOOTER ---------------------------------*/
:global(.vtex-store-footer-2-x-footerLayout)
:global(.vtex-flex-layout-0-x-flexRowContent--menu-row)
:global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(1){    width: 18%!important;}
:global(.vtex-store-footer-2-x-footerLayout)
:global(.vtex-flex-layout-0-x-flexRowContent--menu-row)
:global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(2){    width: 26%!important;}
:global(.vtex-store-footer-2-x-footerLayout)
:global(.vtex-flex-layout-0-x-flexRowContent--menu-row)
:global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(3){    width: 20%!important;}
:global(.vtex-store-footer-2-x-footerLayout)
:global(.vtex-flex-layout-0-x-flexRowContent--menu-row)
:global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(4){    width: 16%!important;}


:global(.vtex-store-footer-2-x-socialNetworksContainer){
    flex-direction: row;
    justify-content: center;
    padding-top: 12px;
    margin-right: 17px;
    padding-bottom: 15px;

}




:global(.vtex-store-components-3-x-newsletter)
:global(.vtex-input-prefix__group){
    border: none;
    border-bottom: 2px solid #001A57;
    border-radius: 0;

}

:global(.vtex-store-components-3-x-newsletter)
:global(.vtex-styleguide-9-x-input){
    border: none;
    background-image: url(/arquivos/icon-newsletter-io.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 35px;
    padding-left: 50px;

}

:global(.vtex-store-footer-2-x-footerLayout)
:global(.vtex-flex-layout-0-x-flexRowContent--menu-row) {
    max-width: 1340px;
    margin: auto;

}
:global(.vtex-store-footer-2-x-footerLayout)
:global(.vtex-menu-2-x-styledLinkContainer){    margin: 0px!important;}


:global(.vtex-rich-text-0-x-paragraph--footer-fale-conosco),
:global(.vtex-rich-text-0-x-paragraph--footer-area-do-cliente-title),
:global(.vtex-rich-text-0-x-paragraph--funcionamento-loja-de-fabrica){

    color: #C4D600!important;
    font-family: 'Roboto Slab',serif!important;

    font-size: 16px!important;
    font-weight: 600;

    margin-bottom: 10px!important;
}

:global(.vtex-store-footer-2-x-footerLayout)
:global(.vtex-menu-2-x-styledLinkContent.flex.justify-between.nowrap){    color: #fff!important;}

:global(.vtex-flex-layout-0-x-flexRow--menu-row){
    background: #001A57;
}

:global(.vtex-store-components-3-x-newsletter){

    background-color: #fff!important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25) inset;
}

:global(.vtex-store-components-3-x-newsletter)  
:global(.vtex-store-components-3-x-label) {color: #001A57;    font-family: 'Roboto Slab',serif;
    font-size: 20px;
    font-weight: normal;    margin-bottom: 25px;
    display: block;
}

:global(.vtex-store-components-3-x-newsletter)
:global(.vtex-store-components-3-x-form){    max-width: 730px;}

:global(.vtex-store-components-3-x-newsletter) 
:global(.vtex-store-components-3-x-container) {
    padding: 60px!important;
}


:global(.vtex-store-components-3-x-newsletter)  
:global(.vtex-button__label) {    color: #00924B;
    font-family: 'Roboto Slab',serif;
    border: 2px solid #00924B;
    padding: 27px;
    height: 41px;
    border-radius: 8px;
    font-size: 16px;}


:global(.vtex-store-components-3-x-inputGroup) 
:global(.vtex-styleguide-9-x-hideDecorators::placeholder) {
    color: #000!important;
}

:global(.vtex-store-components-3-x-inputGroup)
:global(.vtex-styleguide-9-x-hideDecorators) {  color: #000!important;}

:global(.vtex-store-footer-2-x-footerLayout)
:global(.vtex-menu-2-x-styledLinkContent){    color: #fff;}


:global(.vtex-store-footer-2-x-footerLayout)
:global(.vtex-rich-text-0-x-paragraph) {color:#fff;color: rgb(255, 255, 255);
    font-family: Roboto, sans-serif;
    padding: 0px;font-size:14px;  
    margin: 0px;  margin-bottom: 10px;}
    :global(.vtex-store-footer-2-x-footerLayout)
    :global(.vtex-menu-2-x-styledLinkContent){color:#fff;color: rgb(255, 255, 255);
        font-family: Roboto, sans-serif!important;
        padding: 0px;
        font-size: 14px!important;
        font-weight: 400;   
        margin: 0px;  margin-bottom: 3px;}


        :global(.vtex-rich-text-0-x-link--footer-email-atendimento){
            color:#fff;color: rgb(255, 255, 255);
            font-family: Roboto, sans-serif!important;
            padding: 0px;
            font-size: 14px!important;
            font-weight: 400;
            margin: 0px;

        }


/* --------------------- VITRINE ----------------------------------*/

:global(.vtex-flex-layout-0-x-flexRowContent--bloco-bt-comprar-quantidade-vitrine)
:global(.vtex-button){border-radius: 8px;
    background: #00924B;    border-color: transparent;    height: 10px;    margin-top: -5px;
   }

    :global(.vtex-product-quantity-1-x-quantitySelectorTitle){display:none;}


:global(.vtex-numeric-stepper__minus-button){  background: #C5C5C5;
    width: 35px!important;
    border: none;
    color: #000;
    border-top-right-radius: 8px!important;
    border-bottom-right-radius: 8px!important;
    border-top-left-radius: 8px!important;
    border-bottom-left-radius: 8px!important;
}

:global(.vtex-numeric-stepper__plus-button){  background: #757575;
    width: 35px!important;
    border: none;
    color: #fff;

    color: #fff;
    border-top-left-radius: 8px!important;
    border-bottom-left-radius: 8px!important;
    border-top-right-radius: 8px!important;
    border-bottom-right-radius: 8px!important;
}


:global(.vtex-numeric-stepper__input) {
    appearance: none;
    border: none;
    font-family: 'Roboto Slab',serif;
    width: 40px;

}

:global(.vtex-add-to-cart-button-0-x-buttonText){

    font-family: 'Roboto',sans-serif;
    font-size: 16px;
}


:global(.vtex-flex-layout-0-x-flexCol--bloco-bt-comprar-quantidade-vitrine){opacity: 0;transition:0.2s;    }

:global(.vtex-slider-layout-0-x-slideChildrenContainer.vtex-slider-layout-0-x-slideChildrenContainer--shelf.flex.justify-center.items-center.w-100):hover
:global(.vtex-flex-layout-0-x-flexCol--bloco-bt-comprar-quantidade-vitrine){opacity: 1;    }

/* --------------------- END - VITRINE ----------------------------------*/


/* ---------------- PÁGINA DE PRODUTO ---------------------------------*/

:global(.render-route-store-product)
:global(.vtex-store-components-3-x-productBrand){color: #001A57;font-family: 'Roboto Slab',serif;font-size: 32px;font-weight: 500;}
:global(.render-route-store-product)
:global(.vtex-product-price-1-x-sellingPriceValue){font-weight: 700;color: #000;font-family: 'Roboto Slab',serif;font-size: 32px;}
:global(.render-route-store-product)
:global(.vtex-product-price-1-x-installments){font-weight: 700;color: #000;font-family: 'Roboto Slab',serif;font-size: 14px;}
:global(.render-route-store-product)
:global(.vtex-flex-layout-0-x-flexRowContent--pagina-de-produto-conteudo-geral){max-width: 1340px;margin: auto;}

:global(.render-route-store-product)
:global(.vtex-flex-layout-0-x-flexRowContent--pagina-de-produto-conteudo-geral-especificacao-titulo){max-width: 1340px;margin: auto;}

:global(.render-route-store-product)
:global(.vtex-flex-layout-0-x-flexRow--productSpecificationGroup){max-width: 1340px;margin: auto;}

:global(.vtex-tab-layout-0-x-container--product)
:global(.hover-b--action-primary){background-color: #C4D600;    border: none;}

:global(.render-route-store-product)
:global(.vtex-tab-layout-0-x-contentContainer) {
    border: 1px solid #C4D600;
    background-color: #fff;
    border-radius: 16px;
    max-width: 1340px;
    margin: auto;
    margin-bottom: 50px;
   


}


:global(.vtex-tab-layout-0-x-listItemActive--botao-descricao-pdp)
:global(.vtex-button){    background-image: url(/arquivos/icon-descricao-pdp-io.png);
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 24px;
    padding-left: 20px;
    margin-left: 16px;}


    
    :global(.vtex-tab-layout-0-x-listItem--botao-espeficicacao-pdp)
:global(.vtex-button){    background-image: url(/arquivos/icon-especificacao-pdp-io.png);
    background-repeat: no-repeat;
    background-position: 12px center;
    background-size: 24px;
    padding-left: 20px;
    margin-left: 16px;}


    :global(.vtex-tab-layout-0-x-listItem--botao-info-adicionais-pdp)
    :global(.vtex-button){    background-image: url(/arquivos/icon-infos-add-pdp-io.png);
        background-repeat: no-repeat;
        background-position: 12px center;
        background-size: 24px;
        padding-left: 20px;
        margin-left: 16px;}


:global(.vtex-store-components-3-x-productDescriptionText) {

    font-family: 'Roboto Slab',serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    padding: 20px;
}

:global(.vtex-store-components-3-x-productDescriptionTitle){display:none;}

:global(.vtex-flex-layout-0-x-flexRow--productSpecificationGroup){
    padding: 20px 25px 0px 25px;
}


:global(span.vtex-product-specifications-1-x-specificationValue.vtex-product-specifications-1-x-specificationValue--first.vtex-product-specifications-1-x-specificationValue--last){

    font-family: 'Roboto Slab',serif;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 24px; */
    color: #000;
}

:global(.vtex-product-specifications-1-x-specificationName){font-family: 'Roboto Slab',serif;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 24px; */
    color: #000;}


/* ---------------- END PÁGINA DE PRODUTO ---------------------------------*/



/* ---------------- PÁGINA DE DEPARTAMENTO ---------------------*/

:global(.vtex-search-result-3-x-container--layout){

    max-width: 1340px;
    margin: auto;
}

:global(.vtex-flex-layout-0-x-flexColChild--filterCol){

    background-color:#fff;
    padding: 15px;
}

:global(.vtex-product-summary-2-x-container) {

    background-color: #fff;
    padding: 20px;
    border: 2px solid #fff;
}

:global(.render-route-store-search-department)
:global(.vtex-product-summary-2-x-container):hover {
    border: 2px solid #C4D600;
}
:global(.render-route-store-search-department)
:global(.vtex-product-summary-2-x-container):hover
:global(.vtex-flex-layout-0-x-flexCol--bloco-bt-comprar-quantidade-vitrine){
    opacity: 1;

}

:global(.render-route-store-search-category)
:global(.vtex-product-summary-2-x-container):hover {
    border: 2px solid #C4D600;
}
:global(.render-route-store-search-category)
:global(.vtex-product-summary-2-x-container):hover
:global(.vtex-flex-layout-0-x-flexCol--bloco-bt-comprar-quantidade-vitrine){
    opacity: 1;

}


:global(.vtex-flex-layout-0-x-flexColChild--filterCol)
:global(.vtex-checkbox__label){    font-family: 'Roboto Slab',serif;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    margin-top: -2px;}


    :global(.vtex-search-result-3-x-filterTitleSpan) {
        overflow: hidden;
        font-family: 'Roboto Slab',serif;
        font-size: 16px;
        font-weight: 400;
        color: #000;
    }

/* ---------------- END PÁGINA DE DEPARTAMENTO ---------------------*/
